$TTL 86400
@ IN SOA dns-primary.tesrov.lab. admin@tesrov.lab. (
		2020011800 ;Serial
		3600 ;Refresh
		1800 ;Retry
		604800 ;Expire
		86400 ;Minimum TTL
)
;Name Server Information
@ IN NS dns-primary.tesrov.lab.
;IP Address for Name Server
dns-primary.tesrov.lab IN A 10.5.43.13
;Reverse lookup for name server
129 IN PTR dns-primary.tesrov.lab.
;PTR Record IP Address to hostname
50 IN PTR www.tesrov.lab
60 IN PTR mail.tesrov.lab.
